{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<main>
    <div class="mt-5">
    </div>
    <section id="room-name-wrapper">
        <p>Room id: <span id="room-name"></span></p>
    </section>
    <div class="container">
    <section id="video-streams" class="row row-cols-3 g-4 mt-2 mb-5">
      
    </section>
    </div> 
    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
        </div>
    </section>
</main>


<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content %}